# 파이썬 기본 문법 복습

### Q1 문자열 바꾸기
다음과 같은 문자열이 있다.
```
a:b:c:d
```
문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.
```
`a#b#c#d`
```

In [1]:
a = "a:b:c:d"
b = a.split(":")
c = "#".join(b)
print(c)

a#b#c#d

### Q2 딕셔너리 값 추출하기

다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```

a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다. 

'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.(힌트 get() 메소드)

In [2]:
a = {'A':90, 'B':80}
a.get('C', 70)

70

### Q3 리스트의 더하기와 extend 함수

다음과 같은 리스트 a가 있다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a.extend([4, 5])
```

'+' 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [6]:
 a = [1, 2, 3]
 a = a + [4,5]

print(a)

[1, 2, 3, 4, 5]

In [7]:
 a = [1, 2, 3]
 a.extend([4, 5])
 print(a)

[1, 2, 3, 4, 5]

### Q4 반복문

1 ~ 10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하시오.

In [10]:
x = 0

for i in range(1, 11) :
  x += i

print(x)

55

### Q5 반복문과 조건문

1부터 30까지의 숫자 중 3의 배수만 출력하는 코드를 작성하시오.

In [11]:
for i in range(1, 31) :
  if i % 3 != 0 :
    continue
  print(i)

3
6
9
12
15
18
21
24
27
30

### Q6 피보나치 함수

첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, ...
```
입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [15]:
array = [0,1]

def fibonach(n):
    i=0
    while array[i]+array[i+1] <= n:
        array.append(array[i]+array[i+1])
        i+=1

n = int(input())
fibonach(n)
print(array)

20
[0, 1, 1, 2, 3, 5, 8, 13]

### Q7 반복문

 A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
 ```
>>> A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
```
for문을 이용하여 A 학급의 평균 점수를 구해보자.

In [17]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

total = 0

for score in A:
  total += score

print('A 학급의 평균 점수', total/len(A))

A 학급의 평균 점수 79.0

### Q8 파일의 입출력 활용

아래와 같이 이루어진 sample.txt 파일을 작성하라. (write 함수 사용)
```
70
60
55
75
95
90
80
100
```

이제 sample.txt 파일의 숫자값을 모두 읽어 총합과 평균값을 구한 후 평균값을 
result.txt라는 파일에 쓰는 프로그램을 작성해 보자.

In [0]:
# 파일의 작성
sample = [70,60,55,75,95,90,80,100]

with open('sample.txt','w') as f:
  for i in sample:
    f.write(str(i)+'\n')

# 파일 읽기
f = open("sample.txt")
lines = f.readlines( )  # sample.txt를 줄 단위로 모두 읽는다.
f.close( )

# 총합과 평균값 구하기
total = 0
for line in lines:
    score = int(line)  # 줄에 적힌 점수를 숫자형으로 변환한다.
    total += score
average = total / len(lines)

# 평균값을 파일에 저장
f = open("result.txt", "w")
f.write(str(average))
f.close()

### Q9 리스트 총합 구하기

다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [22]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

total = 0
for score in A:
  if score >= 50 :
    total = total + score

print(total)

481

### Q10 list comprehension

리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```
위 코드를 list comprehension를 사용하여 표현해 보자.

In [23]:
numbers = [1, 2, 3, 4, 5]
result = [i * 2 for  i in numbers if i % 2 == 1]

print(result)

[2, 6, 10]